<div class="container">
  <form>
    <div class="form-group row">
      <div class="col-1 col-form-label">
        <i class="fa fa-2 fa-play" (click)="play()" alt="Rafraichir"></i>
      </div>
      <label class="col-2 p-1  col-form-label" for="level" style="white-space:nowrap;">Niv. {{level}}</label>
      <div class="col-7 p-2">
        <input class="form-control" type="range" placeholder="Niveau" min="1" max="4" step="1" [(ngModel)]="level" id="level" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-1 col-form-label">
        <i class="fa fa-2 fa-refresh" (click)="init()" alt="Rafraichir"></i>
      </div>

    </div>
  </form>
  <div class="row  p-2">
    <div class="col-9" appGridComponent [size]="size" [turtlePos]="turtle.position" [parcours]="parcours">
    </div>
    <div class="col-1" *ngIf="level == 1">
      <div class="row">
        <i class="col-1 fa fa-arrow-up" (click)="keyUp({key:'ArrowUp'})"></i>
      </div>

      <div class="row">
        <i class="col-1 offset-2 fa fa-arrow-right" (click)="keyUp({key:'ArrowRight'})"></i>
      </div>

      <div class="row">
        <i class="col-1 fa fa-arrow-down" (click)="keyUp({key:'ArrowDown'})"></i>
      </div>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-1" *ngFor="let ins of instructions">
      <i class="fa" [ngClass]="{'fa-repeat': ins.label == '90', 
      'fa-arrow-up': ins.label == 'Top', 
      'fa-arrow-right': ins.label == 'Right',
      'fa-arrow-down': ins.label == 'Bottom', 
      'fa-undo': ins.label == '-90', 
      'fa-play': ins.label == 'MoveForward'}" aria-hidden="true" style="font-size: 12px;"></i>
    </div>
  </div>

  <div class="row p-2">
    <span *ngIf="etat == 2" class="badge badge-success col-12">Gagn&eacute; !!!</span>
    <span *ngIf="etat == 3" class="badge badge-danger col-12">Perdu... Recommence</span>
  </div>

</div>