.eau {
  background: url('../../assets/eau.jpg') no-repeat center center;
  background-size: contain;
}
.eau.turtleOnMe {
  background: url('../../assets/tortue.png') no-repeat center center, url('../../assets/eau.jpg') no-repeat center center;
  background-size: contain;
}

.case {
  padding-bottom: 20%;
  width: 20%;
  float: left;
}

.belongToTheCourse {
  background: url('../../assets/sable.gif') center center;
  background-size: contain;
}

.belongToTheCourse.turtleOnMe {
  background: url('../../assets/tortue.png') no-repeat center center, url('../../assets/sable.gif') no-repeat center center;
  background-size: contain;
}

.borderl {
  background-image: url('../../assets/sable-with-bordure.gif');
}

.borderl.turtleOnMe {
  background-image: url('../../assets/tortue.png'), url('../../assets/sable-with-bordure.gif');
}
